{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAQ",
    "description": "OpenAQ API - https://docs.openaq.org",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.openaq.org"
    }
  ],
  "paths": {
    "/v2/averages": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get averaged values",
        "operationId": "averages_v2_get_v2_averages_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Date From",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ],
              "default": "2000-01-01T00:00:00+00:00"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Date To",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ],
              "default": "2022-06-16T22:51:00+00:00"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Project Id",
              "type": "integer"
            },
            "name": "project_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Project",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "project",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Spatial"
            },
            "name": "spatial",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Temporal"
            },
            "name": "temporal",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Group",
              "type": "boolean",
              "default": false
            },
            "name": "group",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AveragesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cities": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get cities",
        "description": "Provides a list of cities supported by the platform",
        "operationId": "cities_get_v2_cities_get",
        "parameters": [
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CitiesOrder"
                }
              ],
              "description": "Order by a field",
              "default": "city"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Entity",
              "type": "string"
            },
            "name": "entity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cities": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get cities",
        "description": "Provides a list of cities supported by the platform",
        "operationId": "cities_getv1_v1_cities_get",
        "parameters": [
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CitiesOrder"
                }
              ],
              "description": "Order by a field",
              "default": "city"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Entity",
              "type": "string"
            },
            "name": "entity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/countries": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get countries",
        "description": "Providecs a list of countries",
        "operationId": "countries_get_v2_countries_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Limit",
              "type": "integer",
              "default": 200
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "default": "country"
            },
            "name": "order_by",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/countries/{country_id}": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get country by ID",
        "description": "Provides a single country by country ID",
        "operationId": "countries_get_v2_countries__country_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string"
            },
            "name": "country_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Limit",
              "type": "integer",
              "default": 200
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "default": "country"
            },
            "name": "order_by",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries/{country_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get country by ID",
        "description": "Provides a single country by country ID",
        "operationId": "countries_get_v1_countries__country_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string"
            },
            "name": "country_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Limit",
              "type": "integer",
              "default": 200
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "default": "country"
            },
            "name": "order_by",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get countries",
        "description": "Providecs a list of countries",
        "operationId": "countries_getv1_v1_countries_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Limit",
              "type": "integer",
              "default": 200
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Define sort order.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Define sort order.",
              "default": "asc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "default": "country"
            },
            "name": "order_by",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/locations": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get locations",
        "description": "Provides a list of locations",
        "operationId": "locations_get_v2_locations_get",
        "parameters": [
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LocationsOrder"
                }
              ],
              "description": "Order by a field",
              "default": "lastUpdated"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "Location is mobile",
            "required": false,
            "schema": {
              "title": "Ismobile",
              "type": "boolean",
              "description": "Location is mobile"
            },
            "name": "isMobile",
            "in": "query"
          },
          {
            "description": "Data is the product of a previous analysis/aggregation and not raw measurements",
            "required": false,
            "schema": {
              "title": "Isanalysis",
              "type": "boolean",
              "description": "Data is the product of a previous analysis/aggregation and not raw measurements"
            },
            "name": "isAnalysis",
            "in": "query"
          },
          {
            "description": "Name of the data source",
            "required": false,
            "schema": {
              "title": "Sourcename",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Name of the data source"
            },
            "name": "sourceName",
            "in": "query"
          },
          {
            "description": "Source entity type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityTypes"
                }
              ],
              "description": "Source entity type."
            },
            "name": "entity",
            "in": "query"
          },
          {
            "description": "Type of Sensor",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SensorTypes"
                }
              ],
              "description": "Type of Sensor"
            },
            "name": "sensorType",
            "in": "query"
          },
          {
            "description": "Model Name of Sensor",
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Model Name of Sensor"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "description": "Manufacturer of Sensor",
            "required": false,
            "schema": {
              "title": "Manufacturername",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manufacturer of Sensor"
            },
            "name": "manufacturerName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dumpraw",
              "type": "boolean",
              "default": false
            },
            "name": "dumpRaw",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get a location by ID",
        "description": "Provides a location by location ID",
        "operationId": "locations_get_v2_locations__location_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "path"
          },
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LocationsOrder"
                }
              ],
              "description": "Order by a field",
              "default": "lastUpdated"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "Location is mobile",
            "required": false,
            "schema": {
              "title": "Ismobile",
              "type": "boolean",
              "description": "Location is mobile"
            },
            "name": "isMobile",
            "in": "query"
          },
          {
            "description": "Data is the product of a previous analysis/aggregation and not raw measurements",
            "required": false,
            "schema": {
              "title": "Isanalysis",
              "type": "boolean",
              "description": "Data is the product of a previous analysis/aggregation and not raw measurements"
            },
            "name": "isAnalysis",
            "in": "query"
          },
          {
            "description": "Name of the data source",
            "required": false,
            "schema": {
              "title": "Sourcename",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Name of the data source"
            },
            "name": "sourceName",
            "in": "query"
          },
          {
            "description": "Source entity type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityTypes"
                }
              ],
              "description": "Source entity type."
            },
            "name": "entity",
            "in": "query"
          },
          {
            "description": "Type of Sensor",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SensorTypes"
                }
              ],
              "description": "Type of Sensor"
            },
            "name": "sensorType",
            "in": "query"
          },
          {
            "description": "Model Name of Sensor",
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Model Name of Sensor"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "description": "Manufacturer of Sensor",
            "required": false,
            "schema": {
              "title": "Manufacturername",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manufacturer of Sensor"
            },
            "name": "manufacturerName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dumpraw",
              "type": "boolean",
              "default": false
            },
            "name": "dumpRaw",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/latest": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get latest measurements",
        "description": "Provides a list of locations with latest measurements",
        "operationId": "latest_get_v2_latest_get",
        "parameters": [
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LocationsOrder"
                }
              ],
              "description": "Order by a field",
              "default": "lastUpdated"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "Location is mobile",
            "required": false,
            "schema": {
              "title": "Ismobile",
              "type": "boolean",
              "description": "Location is mobile"
            },
            "name": "isMobile",
            "in": "query"
          },
          {
            "description": "Data is the product of a previous analysis/aggregation and not raw measurements",
            "required": false,
            "schema": {
              "title": "Isanalysis",
              "type": "boolean",
              "description": "Data is the product of a previous analysis/aggregation and not raw measurements"
            },
            "name": "isAnalysis",
            "in": "query"
          },
          {
            "description": "Name of the data source",
            "required": false,
            "schema": {
              "title": "Sourcename",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Name of the data source"
            },
            "name": "sourceName",
            "in": "query"
          },
          {
            "description": "Source entity type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityTypes"
                }
              ],
              "description": "Source entity type."
            },
            "name": "entity",
            "in": "query"
          },
          {
            "description": "Type of Sensor",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SensorTypes"
                }
              ],
              "description": "Type of Sensor"
            },
            "name": "sensorType",
            "in": "query"
          },
          {
            "description": "Model Name of Sensor",
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Model Name of Sensor"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "description": "Manufacturer of Sensor",
            "required": false,
            "schema": {
              "title": "Manufacturername",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manufacturer of Sensor"
            },
            "name": "manufacturerName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dumpraw",
              "type": "boolean",
              "default": false
            },
            "name": "dumpRaw",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/latest/{location_id}": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get latest measurements by location ID",
        "description": "Provides latest measurements for a locations by location ID",
        "operationId": "latest_get_v2_latest__location_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "path"
          },
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LocationsOrder"
                }
              ],
              "description": "Order by a field",
              "default": "lastUpdated"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "Location is mobile",
            "required": false,
            "schema": {
              "title": "Ismobile",
              "type": "boolean",
              "description": "Location is mobile"
            },
            "name": "isMobile",
            "in": "query"
          },
          {
            "description": "Data is the product of a previous analysis/aggregation and not raw measurements",
            "required": false,
            "schema": {
              "title": "Isanalysis",
              "type": "boolean",
              "description": "Data is the product of a previous analysis/aggregation and not raw measurements"
            },
            "name": "isAnalysis",
            "in": "query"
          },
          {
            "description": "Name of the data source",
            "required": false,
            "schema": {
              "title": "Sourcename",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Name of the data source"
            },
            "name": "sourceName",
            "in": "query"
          },
          {
            "description": "Source entity type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityTypes"
                }
              ],
              "description": "Source entity type."
            },
            "name": "entity",
            "in": "query"
          },
          {
            "description": "Type of Sensor",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SensorTypes"
                }
              ],
              "description": "Type of Sensor"
            },
            "name": "sensorType",
            "in": "query"
          },
          {
            "description": "Model Name of Sensor",
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Model Name of Sensor"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "description": "Manufacturer of Sensor",
            "required": false,
            "schema": {
              "title": "Manufacturername",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manufacturer of Sensor"
            },
            "name": "manufacturerName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dumpraw",
              "type": "boolean",
              "default": false
            },
            "name": "dumpRaw",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/latest": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get latest measurements",
        "operationId": "latest_v1_get_v1_latest_get",
        "parameters": [
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
                "pattern": "[a-zA-Z][a-zA-Z]",
                "type": "string"
              },
              "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)"
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
            "required": false,
            "schema": {
              "title": "City",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
            },
            "name": "city",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Location",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "name": "location",
            "in": "query"
          },
          {
            "description": "Order by a field",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LocationsOrder"
                }
              ],
              "description": "Order by a field",
              "default": "lastUpdated"
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "Location is mobile",
            "required": false,
            "schema": {
              "title": "Ismobile",
              "type": "boolean",
              "description": "Location is mobile"
            },
            "name": "isMobile",
            "in": "query"
          },
          {
            "description": "Data is the product of a previous analysis/aggregation and not raw measurements",
            "required": false,
            "schema": {
              "title": "Isanalysis",
              "type": "boolean",
              "description": "Data is the product of a previous analysis/aggregation and not raw measurements"
            },
            "name": "isAnalysis",
            "in": "query"
          },
          {
            "description": "Name of the data source",
            "required": false,
            "schema": {
              "title": "Sourcename",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Name of the data source"
            },
            "name": "sourceName",
            "in": "query"
          },
          {
            "description": "Source entity type.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityTypes"
                }
              ],
              "description": "Source entity type."
            },
            "name": "entity",
            "in": "query"
          },
          {
            "description": "Type of Sensor",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SensorTypes"
                }
              ],
              "description": "Type of Sensor"
            },
            "name": "sensorType",
            "in": "query"
          },
          {
            "description": "Model Name of Sensor",
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Model Name of Sensor"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "description": "Manufacturer of Sensor",
            "required": false,
            "schema": {
              "title": "Manufacturername",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manufacturer of Sensor"
            },
            "name": "manufacturerName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dumpraw",
              "type": "boolean",
              "default": false
            },
            "name": "dumpRaw",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestResponseV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/latest/{location_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get latest measurements by location ID",
        "operationId": "latest_v1_get_v1_latest__location_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Location Id",
              "type": "integer"
            },
            "name": "location_id",
            "in": "path"
          },
          {
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Paginate through results. e.g. page=1 will return first page of results",
            "required": false,
            "schema": {
              "title": "Page",
              "maximum": 6000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "maximum": 10000.0,
              "minimum": 0.0,
              "type": "integer",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort Direction",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                }
              ],
              "description": "Sort Direction",
              "default": "desc"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Geo",
              "type": "boolean"
            },
            "name": "has_geo",
            "in": "query"
          },
          {
            "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements",
            "required": false,
            "schema": {
              "title": "Parameter Id",
              "type": "integer",
              "description": "(optional) A parameter ID to filter measurement results. e.g. parameter_id=2 parameter ID 2 (i.e. PM2.5) will limit measurement results to only PM2.5 measurements"
            },
            "name": "parameter_id",
            "in": "query"
          },
          {
            "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10",
            "required": false,
            "schema": {
              "title": "Parameter",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "maximum": 2147483647.0,
                    "exclusiveMinimum": true,
                    "minimum": 0.0,
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "description": "(optional) A parameter name or ID by which to filter measurement results. e.g. parameter=pm25 or parameter=pm25&parameter=pm10"
            },
            "name": "parameter",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Unit",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "unit",
            "in": "query"
          },
          {
            "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037",
            "required": false,
            "schema": {
              "title": "Coordinates",
              "pattern": "^-?\\d{1,2}\\.?\\d{0,8},-?1?\\d{1,2}\\.?\\d{0,8}$",
              "type": "string",
              "description": "Coordinate pair in form lat,lng. Up to 8 decimal points of precision e.g. 38.907,-77.037"
            },
            "name": "coordinates",
            "in": "query"
          },
          {
            "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
            "required": false,
            "schema": {
              "title": "Radius",
              "maximum": 100000.0,
              "exclusiveMinimum": true,
              "minimum": 0.0,
              "type": "integer",
              "description": "Search radius from coordinates as center in meters. Maximum of 100,000 (100km) defaults to 1000 (1km)",
              "default": 1000
            },
            "name": "radius",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. /US)",
            "required": false,
            "schema": {
              "title": "Country Id",
              "maxLength": 2,
              "minLength": 2,
              "pattern": "[a-zA-Z][a-zA-Z]",
              "type": "string",
              "description": "Limit results by a certain country using two letter country code. (e.g. /US)"
            },
            "name": "country_id",
            "in": "query"
          },
          {
            "description": "Limit results by a certain country using two letter country code. (e.g. ?country=US or ?country=US&country=MX)",
            "required": false,
            "schema": {
              "title": "Country",
              "type": "array",
              "items": {
                "maxLength": 2,
                "minLength": 2,
[...]
